---
title: "Projects";

export const products = [
	{
		title: "FABINCCI",
		link: "https://fabincci.netlify.app",
		subtitle: "Trabajo de final de carrera para la universidad.",
		description:
			"Página web de una barberia ubicada en Mataró, con un diseño personalizado, registro de clientes y gestión de citas.",
		thumbnail: "/static/img/fabincci.webp",
		mobileThumbnail: "/static/img/fabincci_mobil.png",
		skills: ["React", "Tailwind", "Node", "Mongo", "Express"],
	},
	{
		title: "iDance",
		link: "https://idancenacional.com",
		subtitle: "Trabajo remunerado para la empresa iDanceNacional.",
		description:
			"Construcción y diseño de la página web para la competición de baile iDance Nacional.",
		thumbnail: "/static/img/idanceNacional.png",
		mobileThumbnail: "/static/img/idanceNacional_mobil.jpeg",
		skills: ["Wordpress", "Elementor", "JavaScript", "CSS", "HTML"],
	},
	{
		title: "Quality Machines Profile",
		link: "https://qmprofile.com",
		subtitle: "Trabajo remunerado para la empresa Quality Machines Profile",
		description:
			"Construcción de la página web para la empresa Quality Machines Profile",
		thumbnail: "/static/img/qmprofile.png",
		mobileThumbnail: "/static/img/qmprofile_mobil.png",
		skills: ["Wordpress", "Elementor", "SEO", "Javascript", "CSS", "HTML"],
	},

	{
		title: "Vic.Inkk",
		link: "https://vic-ink.vercel.app",
		subtitle: "Proyecto para el estudio de tatuajes Vic.Inkk.",
		description:
			"Construcción y diseño de la página web a medida para el estudio de tatuajes Vic.Inkk.",
		thumbnail: "/static/img/vicinkk.png",
		mobileThumbnail: "/static/img/vicinkk_mobil.png",
		skills: ["Astro", "Tailwind", "React"],
	},
];
---

<section id="ProjectsMobile">
	<div class="px-10 md:px-15">
		<div id="Projects" aria-hidden class="absolute top-0"></div>
		<div class="max-w-7xl relative mx-auto py-30 px-4 w-full left-0 top-0">
			<h1 class="text-2xl md:text-7xl font-bold">
				My Projects <br />
			</h1>
			<p
				class="max-w-2xl text-base md:text-xl mt-8 text-justify dark:text-neutral-200">
				Aquí encontrarás algunos de los proyectos en los que he trabajado. Haz
				clic en las imagenes para obtener más detalles. <br />
			</p>
		</div>
	</div>

	<div class="min-h-screen">
		<main>
			<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
				<div
					class="p-5 grid grid-cols-1 sm:grid-cols-2 gap-12 w-[80vw] sm:w-[80vw] mx-auto">
					{
						products.map((product) => (
							<div>
								<div class="bg-black overflow-hidden shadow-2xl shadow-purple-900 rounded-lg text-justify">
									<a
										href={product.link}
										target="_blank"
										rel="noopener noreferrer">
										<img
											src={product.mobileThumbnail}
											alt={product.title}
											class="aspect-auto w-full h-auto sm:h-auto"
										/>
									</a>
									<div class="px-4 py-6 h-auto min-[640px]:h-80 lg:h-auto">
										<h2 class="text-lg max-[768px]:pb-4 sm:text-xl font-semibold text-gray-200">
											{product.title}
										</h2>
										<h3 class="block max-[768px]:hidden min-[768px]:pb-4 py-2 text-base sm:text-lg font-semibold text-gray-200">
											{product.subtitle}
										</h3>
										<p class="px-4 text-sm sm:text-base text-gray-300">
											{product.description}
										</p>
									</div>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</main>
	</div>
</section>
